ChitApplication/ChitApplication/Connected Services/ServiceReference/ChitApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:Details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="registrationnumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="phonenumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chitid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="paiddate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amountpaid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="emino" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRegistrationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPaymentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:Details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPaymentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPaymentDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRegistration" />
  </wsdl:message>
  <wsdl:message name="InsertRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPaymentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPaymentDetails" />
  </wsdl:message>
  <wsdl:message name="InsertPaymentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ChitApplicationServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRegistration">
      <wsdl:input message="tns:InsertRegistrationSoapIn" />
      <wsdl:output message="tns:InsertRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentDetails">
      <wsdl:input message="tns:InsertPaymentDetailsSoapIn" />
      <wsdl:output message="tns:InsertPaymentDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChitApplicationServiceSoap" type="tns:ChitApplicationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegistration">
      <soap:operation soapAction="http://tempuri.org/InsertRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentDetails">
      <soap:operation soapAction="http://tempuri.org/InsertPaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChitApplicationServiceSoap12" type="tns:ChitApplicationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegistration">
      <soap12:operation soapAction="http://tempuri.org/InsertRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentDetails">
      <soap12:operation soapAction="http://tempuri.org/InsertPaymentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChitApplicationService">
    <wsdl:port name="ChitApplicationServiceSoap" binding="tns:ChitApplicationServiceSoap">
      <soap:address location="http://localhost:57578/ChitApplicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChitApplicationServiceSoap12" binding="tns:ChitApplicationServiceSoap12">
      <soap12:address location="http://localhost:57578/ChitApplicationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>